body{
//    overflow:hidden;
    font-family: 'Judson', 'Jura', helevetica;    
    font-size: 36px;
    font-style: normal;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
}

article{
    border-bottom: solid grey 1px;
    width:700px;
    margin:auto;
    clear:both;
    height:700px;
}

.veggie1,.veggie2{
    margin: 50px auto auto auto;
    width: 624px;
    height: 100%;

}

.box{
height: 180px;
//background-color:lightgray;
}

.box ul{
    list-style:none;
    height:150px;
}

.box ul li{
    display:inline;
    float:left;
    padding:3px;
}

.veggie1 .box ul li, .veggie2 .box ul li{
    width:150px;
    height:150px;
}

.veggie1 .box #name{
    text-align: right;
    float: right; 
    color: #777;
    font-size:0.5em;
    overflow:hidden;
    width:100%;
    height:40px;
}


.loading{
    width:150px;
    height:25px;
    background: url(../img/loader.gif) no-repeat center;
}

.veggie2 .box{
 margin-top:30px;
}
